<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">

<head>
    <meta charset="UTF-8">
    <title>Inici</title>
</head>
<body>

<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCompany"></div>

<div class="container">

    <div class="card text-center">
        <div class="card-header">
            Servei técnic
        </div>
        <div class="card-body">
            <h5 class="card-title">Próximament  tindrà els servicis a fer avuí. </h5>
            <p class="card-text">Próximament es mostraran tots els serveis que ha de fer avuí amb els clients als que li pertoca</p>
            <a href="/" class="btn btn-primary">Anar al inici</a>
        </div>
        <div class="card-footer text-muted">
            06/05/2020
        </div>
    </div>
</div>


<div th:replace="fragments/footPage"></div>
</body>
</html>