<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<head>
    <title>Sol·licita compter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperior"></div>

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Sol·licitud d'empressa</h4>

            <form action="#" th:action="@{/company/register}"
                             th:object="${company}" method="post">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input  name="" class="form-control" placeholder="CIF" type="text" th:field="*{cif}">
                    <td th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}"></td>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <input  name="" class="form-control" placeholder="Nom de l'empressa" type="text" th:field="*{name}">
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input  name="" class="form-control" placeholder="Persona de contacte" type="text" th:field="*{personalContact}">
                    <td th:if="${#fields.hasErrors('personalContact')}" th:errors="*{personalContact}"></td>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Email" type="email" th:field="*{email}">
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone" ></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Telèfon de contacte" type="text"th:field="*{phoneContact}">
                    <td th:if="${#fields.hasErrors('phoneContact')}" th:errors="*{phoneContact}"></td>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Dirección postal" type="text" th:field="*{postAddress}">
                    <td th:if="${#fields.hasErrors('postAddress')}" th:errors="*{postAddress}"></td>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" > Sol·licita compte  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Ja tens un compte? <a href="../login">Incia sessió com a empressa</a> </p>
            </form>
        </article>
    </div>
</div>
<!--container end.//-->



<div th:replace="fragments/footPage"></div>

</body>
</html>