<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<link rel="stylesheet" href="css/fondo.css" th:href="@{/css/fondo.css}">
<head>
    <meta charset="UTF-8">
    <title>Sol·licituds de registre</title>

</head>
<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCas"></div>
<br>
<div class="container">
    <div class="card bg-light">
        <article class="card-body" style="max-width: 120%;">
            <h4 class="card-title mt-3 text-center">Sol·licituds de persones majors</h4>

            <table class="table table-striped">
                <thead>
                <tr>

                    <th>Nom</th>
                    <th>Cognom</th>
                    <th>Data naixement</th>
                    <th>Estado</th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="elderlyPeople: ${personesMajors}">

                    <td th:text="${elderlyPeople.name}"></td>
                    <td th:text="${elderlyPeople.secondName}"></td>
                    <td th:text="${elderlyPeople.dateOfBirth}"></td>
                    <td th:switch="${elderlyPeople.state}">
                        <span th:case="'A'">Aprovat</span>
                        <span th:case="'P'">Pendent</span>
                        <span th:case="'R'">Rebutjat</span>
                    </td>
                    <td><a th:href="@{/comite/viewSolicitudRegistre/{dniElderly}(dniElderly=${elderlyPeople.dni} )}"  class="btn btn-info"> <i class="fas fa-info-circle"></i> Més informació</a>
                    </td>
                    <td><a role="button" class="btn btn-success" th:href="@{/comite/acceptarSolicitud/{dni}(dni=${elderlyPeople.dni})}">Acceptar</a>
                    </td>
                    <td><a role="button" class="btn btn-danger" th:href="@{/comite/rebujarSolicitud/{dni}(dni=${elderlyPeople.dni})}">Rebujar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
    <br>
    <a href="/" th:href="@{/comite/main}" class="btn btn-primary btn-lg">Tornar a la pàgina principal</a>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>
</html>