<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<link rel="stylesheet" href="css/fondo.css" th:href="@{/css/fondo.css}">
<head>
    <meta charset="UTF-8">
    <title>Sol·licituds de serveis</title>

</head>
<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCas"></div>
<br>
<div class="container">
    <div class="card bg-light">
        <article class="card-body" style="max-width: 120%;">
            <h4 class="card-title mt-3 text-center">Sol·licituds de serveis</h4>

            <table class="table table-striped">
                <thead>
                <tr>

                    <th>Servei</th>
                    <th>Data de inici</th>
                    <th>Data de fi</th>
                    <th>Hora</th>
                    <th>Preu</th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="request: ${requests}">

                    <td th:switch="${request.service}">
                        <span th:case="CATTERING">Menjar a casa</span>
                        <span th:case="CLEAR">Neteja</span>
                        <span th:case="HEALTH">Salut</span>
                    </td>
                    <td th:text="${request.initialDate}"></td>
                    <td th:text="${request.endDate}"></td>
                    <td th:text="${request.serviceHour}"></td>
                    <td th:text="${request.price +'0 €'}"></td>
                    <td><a th:href="@{/comite/viewSolicitudServicio/{dniElderly}(dniElderly=${request.dniElderlyPeople} )}"  class="btn btn-info"> <i class="fas fa-info-circle"></i> Més informació</a>
                    </td>
                    <td><a role="button" class="btn btn-success" th:href="@{/comite/acceptarSolicitudServici/{codReq}(codReq=${request.codRequest})}">Acceptar</a>
                    </td>
                    <td><a role="button" class="btn btn-danger" th:href="@{/comite/rebujarSolicitudServici/{codReq}(codReq=${request.codRequest})}">Rebujar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
    <br>
    <a href="/" th:href="@{/comite/main}" class="btn btn-primary btn-lg">Tornar a la pàgina principal</a>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>
</html>