<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Llista de Voluntaris</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>

<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCasVolunteer"></div>
<br>
<div class="container">
    <div class="card bg-light">
        <article class="card-body" style="max-width: 100%;">
            <h4 class="card-title mt-3 text-center">Llista de Voluntaris</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Dni</th>
                    <th>Nom</th>
                    <th>Cognom</th>
                    <th>Phone</th>
                    <th>Data de naiximent</th>
                    <th>Direccio</th>
                    <th>Estat</th>
                    <th>Email</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="volunteer: ${volunteers}">
                    <td th:text="${volunteer.dni}"></td>
                    <td th:text="${volunteer.name}"></td>
                    <td th:text="${volunteer.secondName}"></td>
                    <td th:text="${volunteer.phone}"></td>
                    <td th:text="${volunteer.dateOfBirth}"></td>
                    <td th:text="${volunteer.postAddress}"></td>
                    <td th:switch="${volunteer.state}">
                        <span th:case="'P'">Pendent</span>
                        <span th:case="'R'">Rebutjada</span>
                        <span th:case="'A'">Aceptada</span>

                    </td>
                    <td th:text="${volunteer.email}"></td>
                    <td><a role="button" class="btn btn-warning"th:href="@{/supervisorVoluntaris/update/{dniVolunteer}(dniVolunteer=${volunteer.dni})}">Modificar</a>


                    </td>
                </tr>
                </tbody>
            </table>

        </article>
    </div>
    <a href="/" th:href="@{/supervisorVoluntaris/main}" class="btn btn-primary btn-lg">Tornar a la meua pàgina principal</a>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>

</html>