<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="/css/elderlyPeople.css" th:href="@{/css/elderlyPeople.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<link rel="stylesheet" href="css/fondo.css" th:href="@{/css/fondo.css}">

<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCasVolunteer"></div>

<br>

<div class="container">
    <div class="card bg-light">

<!--        <article class="card-body mx-auto" style="max-width: 400px;">-->
            <h4 class="card-title mt-3 text-center">Pagina principal del responsable de voluntarios</h4>



            <div class="row">
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Solicituds de registre de voluntaris</h5>
                            <p class="card-text">En aquesta pàgina vosté podrà aceptar-rebutjar les solicituds de registre de voluntaris.</p><br>
                        </div>
                        <div class="card-footer">
                            <a href="/" th:href="@{/supervisorVoluntaris/requestPendent}" class="btn btn-primary btn-lg">Solicituds</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Gestio de Voluntaris</h5>
                            <p class="card-text">En aquesta pàgina vosté podrà accedir a la llista del voluntaris per a modificar les seues dades</p>
                        </div>
                        <div class="card-footer">
                            <a href="/" th:href="@{/supervisorVoluntaris/listVolunteers}" class="btn btn-primary btn-lg">Voluntaris</a>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <a href="/" th:href="@{/elderlyPeople/main}" class="btn btn-primary btn-lg">Tornar a la pàgina principal</a>
<!--        </article>-->
    </div>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>
</html>
