<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse collapse">
            <a class="nav-link" href="/" th:href="@{/comite/main}"><i class="fa fa-fw fa-home"></i> Pàgina principal</a>
            <a class="nav-link" href="/" th:href="@{/comite/solicitudsRegistre}"><i class="fas fa-user-edit"></i>Sol·licituds de registre</a>
            <a class="nav-link" href="/" th:href="@{/comite/solicitudsServeis}"><i class="fas fa-user-edit"></i>Sol·licituds de servei</a>
            <a class="nav-link" href="/" th:href="@{/comite/solicitudsVoluntaris}"><i class="fas fa-user-edit"></i>Sol·licituds de voluntaris</a>
            <a class="nav-link" href="/logout" th:href="@{/logout}"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Eixir</a>

        </div>
    </nav>
</div>