<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse collapse">
            <a class="nav-link" href="/" th:href="@{/}"><i class="fa fa-fw fa-home"></i> Inici</a>
            <a class="nav-link" href="/" th:href="@{/cascompany/list}"><i class="fa fa-users" aria-hidden="true"></i> Llistat d'empresses</a>
            <a class="nav-link" href="/" th:href="@{/cascompany/newCompany}"><i class="fas fa-user-edit"></i> Donar d'alta empressa</a>
            <a class="nav-link" href="/" th:href="@{/cascompany/newContract}"><i class="fas fa-file-contract"></i> Afegir contracte</a>
            <a class="nav-link" href="/" th:href="@{/cascompany/listContract}"><i class="fas fa-list"></i> Llistat de contractes</a>
            <a class="nav-link" href="/logout" th:href="@{/logout}"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Eixir</a>
        </div>
    </nav>
</div>