<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse collapse">
            <a class="nav-link" href="/" th:href="@{/company/main}"><i class="fa fa-fw fa-home"></i> Inici</a>

            <a class="nav-link" href="/" th:href="@{/company/update}"><i class="fas fa-user-edit"></i> Actualitza dades</a>

            <a class="nav-link" href="/" th:href="@{/company/services}"><i class="fa fa-users" aria-hidden="true"></i> Clients</a>

            <a class="nav-link" href="/" th:href="@{/company/contact}"><i class="fa fa-envelope" aria-hidden="true"></i> Contacte</a>

            <a class="nav-link" href="/logout" th:href="@{/logout}"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Eixir </a>

        </div>
    </nav>
</div>
