<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">

<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse">
        <a class="nav-link" href="/" th:href="@{/}"><i class="fa fa-fw fa-home"></i> Inici</a>
        <a class="nav-link" href="/" th:href="@{/supervisorVoluntaris/main}"><i class="fa fa-fw fa-home"></i>Mi pagina CAS</a>
        <a class="nav-link" href="/" th:href="@{/supervisorVoluntaris/requestPendent}"><i class="fas fa-user-edit"></i>Gestio de solicituds</a>
        <a class="nav-link" href="/" th:href="@{/supervisorVoluntaris/listVolunteers}"><i class="fas fa-user-edit"></i>Gestio de voluntaris</a>
        <a class="nav-link" href="/logout" th:href="@{/logout}"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Eixir</a>




        <!--        <ul class="navbar-nav mr-auto">-->
        <!--            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/}">Pàgina principal</a></li>-->
        <!--            <li class="nav-item"><a class="nav-link" href="/" th:href="@{/}">Pàgina principal</a></li>-->
        <!--        </ul>-->

    </div>
</nav>
</div>
