<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<link rel="stylesheet" href="css/fondo.css" th:href="@{/css/fondo.css}">

<head>
    <meta charset="UTF-8">
    <title>El meu horari</title>

</head>
<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorVolunteer"></div>
<br>
<div class="container">
    <div class="card bg-light">
        <article class="card-body" style="max-width: 100%;">
            <h4 class="card-title mt-3 text-center">El meu horari</h4>
            <a role="button" class="btn btn-success" th:href="@{/volunteer/newDisponibility}">Nova disponibilitat</a>
            <span th:if="${disponibilities.size()>0}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Dni elderly people</th>
                    <th>Dia de la setmana</th>
                    <th>Hora </th>
                    <th>Data inici</th>
                    <th>Data fi</th>
                    <th>Estat</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="disponibility: ${disponibilities}">
                    <td th:text="${disponibility.dniElderlyPeople}"></td>
                    <td th:switch="${disponibility.dayOfWeek}">
                        <span th:case="'1'">Dilluns</span>
                        <span th:case="'2'">Dimarts</span>
                        <span th:case="'3'">Dimecres</span>
                        <span th:case="'4'">Dijous</span>
                        <span th:case="'5'">Divendres</span>
                        <span th:case="'6'">Dissabte</span>
                        <span th:case="'7'">Diumenge</span>
                    </td>
                    <td th:text="${disponibility.hour}"></td>
                    <td th:text="${disponibility.initialTime}"></td>
                    <td th:text="${disponibility.finalTime}"></td>
                    <td th:switch="${disponibility.state}">
                        <span th:case="'P'">Pendent</span>
                        <span th:case="'R'">Rebutjada</span>
                        <span th:case="'A'">Aceptada</span>
                    </td>
                    <div th:switch="${disponibility.state}">
                        <span th:case="'A'"><td></td></span>
                        <span th:case="'R'"> <td><a role="button" class="btn btn-danger" th:href="@{/volunteer/deleteDisponibility/{dayOfWeek}(dayOfWeek=${disponibility.dayOfWeek})}">Esborrar</a></td></span>
                        <span th:case="'P'"> <td><a role="button" class="btn btn-warning" th:href="@{/volunteer/updateDisponibility/{dayOfWeek}(dayOfWeek=${disponibility.dayOfWeek})}">Modifica</a></td></span>
                    </div>





                </tr>
                </tbody>
            </table>
            </span>
            <span th:unless="${disponibilities.size()>0}">No tens ningun horari disponible</span>

        </article>
    </div>
    <a href="/" th:href="@{/volunteer/main}" class="btn btn-primary btn-lg">Tornar a la meua pàgina principal</a>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>
</html>
