<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">

<head>
    <meta charset="UTF-8">
    <title>Pagina principal</title>

</head>

<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorVolunteer"></div>

<br>
<div class="container">
    <div class="card bg-light">


        <article class="card-body mx-auto" style="max-width: 400px;">

            <h4 class="card-title mt-3 text-center">Pagina principal de voluntari</h4>



            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="far fa-id-card"></i> </span>
                    <span class="input-group-text" th:text="${volunteer.dni}"> </span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    <span class="input-group-text" th:text="${volunteer.name}"> </span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    <span class="input-group-text" th:text="${volunteer.secondName}"> </span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    <span class="input-group-text" th:text="${volunteer.phone}"> </span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                    <span class="input-group-text" th:text="${volunteer.dateOfBirth}"> </span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    <span class="input-group-text" th:text="${volunteer.postAddress}"> </span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    <span class="input-group-text" th:text="${volunteer.email}"> </span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    <span class="input-group-text" th:text="${volunteer.username}"> </span>
                </div>
            </div>


        </article>
    </div>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>
</html>
