<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nou elderly people</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou elderly people</h2>
<form action="#" th:action="@{/elderlyPeople/add}"
                 th:object="${elderlyPeople}" method="post">
    <table>
        <tr>
            <td><label>Dni </label></td>
            <td><input required type="text" th:field="*{dni}" /></td>
            <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></td>
        </tr>
        <tr>
            <td><label>Name </label></td>
            <td><input required type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Second Name </label></td>
            <td><input required type="text" th:field="*{secondName}" /></td>
        </tr>
        <tr>
            <td><label>Phone </label></td>
            <td><input type="text" th:field="*{phone}" /></td>
        </tr>
        <tr>
            <td><label>dateOfBirth (YEAR-MONTH-DAY) </label></td>
            <td><input type="date" th:field="*{dateOfBirth}" /></td>
        </tr>
        <tr>
            <td><label>Post Address </label></td>
            <td><input type="text" th:field="*{postAddress}" /></td>
        </tr>
        <tr>
            <td><label>Justification </label></td>
            <td><input type="text" th:field="*{justification}" /></td>
        </tr>
        <tr>
            <td><label>Mail </label></td>
            <td><input type="email" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Username </label></td>
            <td><input required type="text" th:field="*{username}" /></td>
        </tr>
        <tr>
            <td><label>Pasword </label></td>
            <td><input required type="text" th:field="*{passwd}" /></td>
        </tr>
        <tr>
            <td><label>dnisocialworker </label></td>
            <td><input value="%00" type="text" th:field="*{dniSocialWorker}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix elderly people" /></td>
        </tr>
    </table>
</form>
</body>
</html>
