<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="/css/elderlyPeople.css" th:href="@{/css/elderlyPeople.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<link rel="stylesheet" href="css/fondo.css" th:href="@{/css/fondo.css}">
<head>
    <meta charset="UTF-8">
    <title>Informació voluntari</title>

</head>
<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorElderly"></div>

<br>

<div class="container">
    <div class="card bg-light">


        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Nom: <span th:text="${volunteer.name}"></span></h4>


            <table class="table table-striped">
                <tr>
                    <th>Aniversari: </th>
                    <th><span th:text="${volunteer.dateOfBirth}"></span></th>
                </tr>
                <tr>
                    <th>Correu electrònic: </th>
                    <th><span th:text="${volunteer.email}"></span></th>
                </tr>
                <tr>
                    <th>Aficions: </th>
                    <th></th>
                </tr>
                <tr th:each="hobbie: ${hobbies}">
                    <th></th>
                    <td th:text="${hobbie.hobbie}"></td>
                </tr>


            </table>






        </article>
    </div>
    <br>
    <a href="/" th:href="@{/elderlyPeople/voluntarisLliures}" class="btn btn-primary btn-lg">Tornar</a>
</div>
<!--container end.//-->


<div th:replace="fragments/footPage"></div>

</body>
</html>
