<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="/css/elderlyPeople.css" th:href="@{/css/elderlyPeople.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorElderly"></div>
<br>
<div class="container">
    <div class="card bg-light">
        <article class="card-body" style="max-width: 100%;">
            <h4 class="card-title mt-3 text-center">Els meus voluntaris</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>DNI coluntari</th>
                    <th>Dia de la setmana</th>
                    <th>Data inici</th>
                    <th>Data fi</th>
                    <th>Activa</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="disponibility: ${disponibilities}">
                    <td th:text="${disponibility.dniVolunteer}"></td>
                    <td th:text="${disponibility.dayOfWeek}"></td>
                    <td th:text="${disponibility.initialTime}"></td>
                    <td th:text="${disponibility.finalTime}"></td>
                    <td th:text="${disponibility.open}"></td>
                    <td><a role="button" class="btn btn-danger" th:href="@{/volunteer/deleteDisponibility/{dayOfWeek}(dayOfWeek=${disponibility.dayOfWeek})}">Cancelar</a>

                    </td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
    <br>
    <a href="/" th:href="@{/elderlyPeople/volunteersManagement}" class="btn btn-primary btn-lg">Tornar a la pàgina de gestió dels voluntaris</a>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>
</html>