<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="/css/elderlyPeople.css" th:href="@{/css/elderlyPeople.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<head>
    <meta charset="UTF-8">
    <title>Els meus serveis</title>

</head>
<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorElderly"></div>
<br>
<div class="container">
    <div class="card bg-light">
        <article class="card-body" style="max-width: 100%;">
            <h4 class="card-title mt-3 text-center">Els meus serveis</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Servei</th>
                    <th>Data de inici</th>
                    <th>Data de fi</th>
                    <th>Hora</th>
                    <th>Preu</th>
                    <th>Estat</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="request: ${requests}">
                    <td th:text="${request.service}"></td>
                    <td th:text="${request.initialDate}"></td>
                    <td th:text="${request.endDate}"></td>
                    <td th:text="${request.serviceHour}"></td>
                    <td th:text="${request.price}"></td>
                    <td th:text="${request.state}"></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
    <br>
    <a href="/" th:href="@{/elderlyPeople/services}" class="btn btn-primary btn-lg">Tornar a la pàgina de gestió dels serveis</a>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>
</html>