<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Prova voluntari </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>

    <h1> Prova del voluntari </h1>
    <p><b>Dni:</b> <span th:text="${elderlyPeople.dni}"> </span></p>
    <p><b>Name:</b> <span th:text="${elderlyPeople.name}"> </span></p>
    <p><b>SecondName:</b> <span th:text="${elderlyPeople.secondName}"> </span></p>
    <p><b>phone:</b> <span th:text="${elderlyPeople.phone}"> </span></p>
    <p><b>dateOfBirth:</b> <span th:text="${elderlyPeople.dateOfBirith}"> </span></p>
    <p><b>postaddress:</b> <span th:text="${elderlyPeople.postAddress}"> </span></p>
    <p><b>Justification:</b> <span th:text="${elderlyPeople.justification}"> </span></p>
    <p><b>email:</b> <span th:text="${elderlyPeople.email}"> </span></p>
    <p><b>username:</b> <span th:text="${elderlyPeople.username}"> </span></p>
    <p><b>Password:</b> <span th:text="${elderlyPeople.passwd}"> </span></p>
    <p><b>DniSocialWorker:</b> <span th:text="${elderlyPeople.dniSocialWorker}"> </span></p>

    <a href="/">Tornar</a>






</body>
</html>