<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="/css/elderlyPeople.css" th:href="@{/css/elderlyPeople.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<head>
    <meta charset="UTF-8">
    <title>Serveis</title>

</head>
<body>


<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorElderly"></div>

<br>

<div class="container">
    <h1>Gestió dels serveis</h1>


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Els meus serveis</h5>
                    <p class="card-text">En aquesta pàgina vosté podrà accedir als detalls dels serveis que ja ha sol·licitat.</p>
                    <a href="/" th:href="@{/elderlyPeople/meusServeis}" class="btn btn-primary btn-lg">Anar als meus serveis</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Serveis disponibles</h5>
                    <p class="card-text">En aquesta pàgina vosté podrà accedir als serveis que es poden contractar.</p>
                    <a href="/" th:href="@{/elderlyPeople/nousServeis}" class="btn btn-primary btn-lg">Anar als serveis disponibles</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <a href="/" th:href="@{/elderlyPeople/main}" class="btn btn-primary btn-lg">Tornar a la pàgina principal</a>
</div>
<!--container end.//-->

<div th:replace="fragments/footPage"></div>

</body>
</html>