<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <title>Donar d'alta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCasCompany"></div>

<div class="card bg-light">
    <article class="card-body" style="max-width: 100%;">
        <h4 class="card-title mt-3 text-center">Llistat d'empresses</h4>
        <table class="table table-striped">
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr th:each="contract:${listContract}">

            </tr>
            </tbody>
        </table>
    </article>
</div>



<div th:replace="fragments/footPage"></div>
</body>
</html>