<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Donar d'alta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fondo.css" th:href="@{/css/fondo.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCasCompany"></div>
<div class="container">
    <div class="card bg-light">
        <article class="card-body" style="max-width: 100%;">
            <h4 class="card-title mt-3 text-center">Llistat d'empresses</h4>
            <table class="table table-striped">
                <thead>
                <tr>
    <!--                <th>CIF</th>-->
                    <th>Nom empressa</th>
    <!--                <th>DNI Contacte</th>-->
    <!--                <th>Contacte</th>-->
    <!--                <th>Telèfon</th>-->
    <!--                <th>Email</th>-->
    <!--                <th>Adreça</th>-->
                    <th>Data d'alta</th>

                </tr>
                </thead>
                <tbody>
                    <tr th:each="company:${listCompanys}">
    <!--                    <td th:text="${company.cif}"></td>-->
                        <td th:text="${company.name}"></td>
    <!--                    <td th:text="${company.nifContact}"></td>-->
    <!--                    <td th:text="${company.personalContact}"></td>-->
    <!--                    <td th:text="${company.phoneContact}"></td>-->
    <!--                    <td th:text="${company.email}"></td>-->
    <!--                    <td th:text="${company.postAddress}"></td>-->
                        <td th:text="${company.fechaAlta}"></td>
    <!--                    <td><a th:href="@{/cascompany/delete/{cif}(cif=${company.cif})}">Esborra</a>-->
                        <td><a th:href="@{/cascompany/infoCompany/{cif}(cif=${company.cif})}">Més informació</a>


                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>



<div th:replace="fragments/footPage"></div>
</body>
</html>