<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <title>Donar d'alta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCasCompany"></div>

<div class="card bg-light">
    <article class="card-body" style="max-width: 100%;">
        <h4 class="card-title mt-3 text-center">Clients</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>CIF</th>
                <th>Nom empressa</th>
                <th>Contacte</th>
                <th>Telèfon</th>
                <th>Email</th>
                <th>Adreça</th>
<!--                TODO MOSTRAR O NO USER-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="company:${listCompanys}">
                <td th:text="${company.cif}"></td>
                <td th:text="${company.name}"></td>
                <td th:text="${company.personalContact}"></td>
                <td th:text="${company.phoneContact}"></td>
                <td th:text="${company.email}"></td>
                <td th:text="${company.postaddress}"></td>
            </tr>
            </tbody>
        </table>
    </article>
</div>



<div th:replace="footPage"></div>
</body>
</html>