<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <title>Donar d'alta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fondo.css" th:href="@{/css/fondo.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCasCompany"></div>

<div class="card text-center">
    <div class="card-header">
        Servei técnic
    </div>
    <div class="card-body">
        <h5 class="card-title">Próximament  tindrà informació a gestionar </h5>
        <p class="card-text">En servici tècnic.</p>
        <a href="/" class="btn btn-primary">Anar al inici</a>
    </div>
    <div class="card-footer text-muted">
        06/05/2020
    </div>
</div>
</div>





<div th:replace="fragments/footPage"></div>
</body>
</html>