<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<link href="vendors/select/bootstrap-select.min.css" rel="stylesheet">
<link href="vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Nou contracte</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/barraImagen"></div>
<div th:replace="fragments/barraSuperiorCasCompany"></div>

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Nou contracte</h4>

            <form action="#"    th:action="@{/cascompany/newContract}"
                                th:object="${newContract}" method="post">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input  name="" class="form-control" placeholder="CIF" type="text" th:field="*{cifcompany}">
                    <td th:if="${#fields.hasErrors('cifcompany')}" th:errors="*{cifcompany}"></td>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-list"></i> </span>
                    </div>
                    <select class="form-control" th:field="*{service}">
                        <option value=CATTERING>Catering</option>
                        <option value=CLEAR>Neteja</option>
                        <option value=HEALTH>Salud</option>
                    </select>
                    <td th:if="${#fields.hasErrors('service')}" th:errors="*{service}"></td>

                </div> <!-- form-group// -->

                Data inici de contracte:
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar" aria-hidden="true"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Data d'inici de contracte" type="date" th:field="*{initialDate}">
                    <td th:if="${#fields.hasErrors('initialDate')}" th:errors="*{initialDate}"></td>
                </div> <!-- form-group// -->

                Data de finalització de contracte:
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar" aria-hidden="true"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Data de finalització de contracte" type="date" th:field="*{finalDate}">
                    <td th:if="${#fields.hasErrors('finalDate')}" th:errors="*{finalDate}"></td>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-euro-sign"></i></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Preu de contracte" type="text" th:field="*{price}">
                    <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <label>Díes de la setmana (Mantin polsat Ctrl per elegir diversos)</label>
                    <select multiple class="form-control"  size="7" th:field="*{daysOfWeek}">
                        <option th:value="Dilluns">Dilluns</option>
                        <option th:value="Dimarts">Dimarts</option>
                        <option th:value="Dimecres">Dimecres</option>
                        <option th:value="Dijous">Dijous</option>
                        <option th:value="Divendres">Divendres</option>
                        <option th:value="Dissabte">Dissabte</option>
                        <option th:value="Diumenge">Diumenge</option>
                    </select>
                </div>


                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-clock"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Hora d'inici (HH:MM)" type="text" th:field="*{hour_initial}">
                    <td th:if="${#fields.hasErrors('hour_initial')}" th:errors="*{hour_initial}"></td>
                </div> <!-- form-group// -->


                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-clock"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Hora de fi (HH:MM)" type="text" th:field="*{hour_final}">
                    <td th:if="${#fields.hasErrors('hour_final')}" th:errors="*{hour_final}"></td>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Afegix contracte </button>
                </div>
            </form>
        </article>
    </div>
</div>


<div th:replace="fragments/footPage"></div>

</body>
</html>